body{
    margin: 400px;
    background-image: url(R\ \(3\).jpg);
}
button{
    border-radius: 25px;
    background-color: black;
    color: blueviolet;
    width: 200px;
    height: 25px;
}